@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 30 50% 92%;
    /* Soft Cream */
    --foreground: 220 37% 23%;
    /* Space Cadet */

    --card: 30 50% 92%;
    --card-foreground: 220 37% 23%;

    --popover: 30 50% 92%;
    --popover-foreground: 220 37% 23%;

    --primary: 220 37% 23%;
    /* Space Cadet */
    --primary-foreground: 30 50% 92%;

    --secondary: 213 19% 58%;
    /* Improved Slate Gray */
    --secondary-foreground: 30 50% 92%;

    --muted: 30 50% 92%;
    --muted-foreground: 213 19% 58%;

    --accent: 22 32% 33%;
    /* Coffee */
    --accent-foreground: 30 50% 92%;

    --highlight: 34 52% 71%;
    /* Tan */
    --highlight-foreground: 220 37% 23%;

    --destructive: 4 50% 30%;
    /* Caput Mortuum */
    --destructive-foreground: 30 50% 92%;

    --dialog: 30 50% 97%;
    /* Lighter cream than background */
    --dialog-foreground: 220 37% 23%;

    --border: 210 21% 80%;
    --input: 210 21% 80%;
    --ring: 220 37% 23%;

    --chart-1: 220 37% 23%;
    --chart-2: 213 19% 58%;
    --chart-3: 34 52% 71%;
    --chart-4: 22 32% 33%;
    --chart-5: 4 50% 30%;

    --radius: 0.75rem;
  }

  .dark {
    --background: 220 37% 10%;
    /* Dark Space Cadet */
    --foreground: 30 50% 92%;
    /* Soft Cream */

    --card: 220 37% 12%;
    --card-foreground: 30 50% 92%;

    --popover: 220 37% 12%;
    --popover-foreground: 30 50% 92%;

    --primary: 34 52% 71%;
    /* Tan */
    --primary-foreground: 220 37% 10%;

    --secondary: 213 19% 58%;
    /* Slate Gray */
    --secondary-foreground: 30 50% 92%;

    --muted: 220 37% 14%;
    --muted-foreground: 30 50% 92%;

    --accent: 22 32% 33%;
    --accent-foreground: 30 50% 92%;

    --destructive: 4 50% 30%;
    --destructive-foreground: 30 50% 92%;

    --dialog: 220 37% 15%;
    /* Slightly lighter than dark card */
    --dialog-foreground: 30 50% 92%;

    --border: 210 21% 25%;
    --input: 210 21% 25%;
    --ring: 34 52% 71%;

    --chart-1: 220 37% 60%;
    --chart-2: 213 19% 58%;
    --chart-3: 34 52% 71%;
    --chart-4: 22 32% 50%;
    --chart-5: 4 50% 30%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  h1,
  h2,
  h3 {
    @apply text-primary font-semibold;
  }

  p {
    @apply leading-relaxed text-foreground;
  }

  a {
    @apply text-accent underline;
  }
}

@layer components {
  .toast-root {
    margin: 0;
    padding: 10px;
    max-width: 320px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 0.5rem;
    background-color: hsl(var(--card));
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid hsl(var(--border));
  }

  .toast-title {
    font-weight: 600;
  }

  .toast-description {
    font-size: 0.875rem;
    color: hsl(var(--card-foreground));
    margin-top: 0.25rem;
  }

  .toast-viewport {
    @apply fixed z-[9999] flex justify-center p-2 max-w-[90vw];
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
}